.main_div {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .userName {
    text-align: center;
    margin-bottom: 20px;
  }

  .store_filter{
    width: 75vw;
    display: flex;
    cursor: pointer;
    margin: auto;
    justify-content: space-between;
    font-weight: 600;
    padding: 10px;
  }

  .filter_icon{
    border: 2px solid gray;
    padding: 10px;
    border-radius:5px ;
  }

  .userName h2 {
    font-size: 2rem;
    color: #333;
    font-family: 'Arial', sans-serif;
    margin: 0;
  }
  .categoryDropDown {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    height: 30px;
  }
  
  .categoryDropDown select {
    padding: 10px;
  }
  .price_filter_div{
    margin-top: 10px;
  }
  .Cards-div {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    gap: 20px;
    justify-content: center;
  }

/* For mobile and tablet screens */
@media screen and (max-width: 980px) {
  .filter_div {
    width: 75vw;
    display: flex;
    justify-content: space-between;
    margin: auto;
    gap:10px;
  }
  .search_div {
    margin-right: auto; /* Hide the filter_div for larger screens */
  }
}

/* For larger screens */
@media screen and (min-width: 980px) {
  .search_div {
    display: none; /* Hide the filter_div for larger screens */
  }
}
